*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Calibri';
    color: #333;
    line-height: 1.6;
    background-color: #E1EBEE;
    /* background-image: linear-gradient(135deg, #87cefa, #00bfff, #00008b); */
    font-weight: 200;
    /* max-width: 1536px; */
    position: relative;
}

button {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: none;
    color: #008080;
    background-color: #E1EBEE;
    font-size: 45px;
    cursor: pointer;
}

form {
    display: flex;   
    justify-content: center;
    align-items: center; 
}

input {
    margin: 0px 10px;
    width: 270px;
    height: 37px;
    border-radius: 10px;
    border: 3px solid #0071c5;
    background-color: #E1EBEE;
}

#btn4 {
    font-size: 2rem;
    cursor: pointer;
    color: #008080;
    margin-right: 10px;
}

#btn4:hover {
    color: lightsalmon;
}

.flexbox-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
    background-color: #E1EBEE;
    border-bottom: 3px solid #0071c5;
}

#logo {
    width: 15%;
    height: 150px;
    /* border: 3px solid #0071c5;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); */
    margin: 10px 0px;
    margin-left: 25px;
}

#heading {
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* height: 80px; */
    width: 65%;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 4rem;
    font-weight: 600;
    height: 70px;
    margin-top: 10px;
}

.ID {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin: 0px 20px;
    height: 80px;
}

.Item-1 {
    display: flex;
    justify-content: flex-start;
    width: 26%;
    border: 3px solid #0071c5;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px;
    font-size: 1.3rem;
}

.Item-2 {
    display: flex;
    justify-content: center;
    width: 25%;
    padding-left: 60px;
    font-size: 2.2rem;
}

.icons {
    font-size: 2.5rem;
    width: 25%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* border: 2px solid #0071c5;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; */
    margin-left: 50px;
}

#flag {
    width: 15%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 10px 0px;
    margin-right: 25px;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 20px 10px;
    margin-left: 25px;
    /* padding: 15px; */
    /* border: 3px solid #0071c5;
    border-radius: 15px; */
    width: 71%;
    height: 160px;
}

.d1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45%;
    /* border: 1px solid #0071c5;
    border-radius: 10px; */
}

.d2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45%;
    /* border: 1px solid #0071c5;
    border-radius: 10px; */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 19%;
    height: 100%;
    border: 3px solid #0071c5;
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #0071c5;
    color: #E1EBEE;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3em;
}

.flexbox-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 165px;
    width: 21%;
    /* border: 3px solid #0071c5;
    border-radius: 15px; */
    margin-right: 25px;
}

.c1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45%;
    /* border: 1px solid #0071c5;
    border-radius: 10px; */
}

.c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42%;
    border: 3px solid #0071c5;
    border-radius: 10px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    /* background-color: #0071c5; */
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0071c5;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 20px 10px;
    height: 690px;
    /* margin-top: 165px; */
}

.flexbox-b {
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1 {
    width: 180px;
    color: #333;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #0071c5;
    margin-right: 25px;
}

.card-2 {
    width: 100%;
    background-color: #E1EBEE;
    color: #fff;
    margin: 0px 0px;
    height: 640px;
    /* margin-top: 110px; */
    margin-right: 10px;
}

.card-3 {
    padding: 0px;
    color: #333;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #0071c5;
    margin-left: 25px;
}

.card-s {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1EBEE;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 0px 5px;
    height: 60px;
    width: 150px;
    line-height: 1.3em;
}

.card-s:hover {
    background-color: lightsalmon;
}

.card-d {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E1EBEE;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 5px 5px;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5em;
}



[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.imp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    /* border: 3px solid #0071c5; */
    margin-bottom: 30px;

}

.imp-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 220px;
    border: 3px solid #0071c5;
    border-radius: 10px;
    color: #333;
}

.imp-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 350px;
    /* border: 3px solid #0071c5;
    border-radius: 10px; */
    color: #333;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    color: #fff;
    cursor: pointer;
    list-style-type: none;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #008080;
    width: 110px;
    background-color: #008080;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}

.tab.active {
    background-color: #333;
    border: 3px solid #333;
}

.tab:hover {
    background-color: #333;
    border: 3px solid #333;
}

.card-display {
    width: 100%;
    padding: 15px;
    color: #fff;
    padding: 5px;
    height: 530px;
    margin-top: 0px;
}

.flexbox-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    max-width: 100%;
    height: 250px;
}

.flexbox-graph1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    max-width: 100%;
    height: 250px;
}

.card-g {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1EBEE;
    border: 3px solid #0071c5;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin: 0px 10px;
    height: 220px;
    width: 430px;
    margin-top: 20px;
}

.card-display-CSV {
    width: 100%;
    /* padding: 5px; */
    /* border: 3px solid #0071c5;
    background-color: #E1EBEE; */
    color: #333;
    /* border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); */
    padding: 5px;
    height: 480px;
    margin-top: 20px;
}

.card-display-3D {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.2%;
    padding: 15px;
    border: 3px solid #0071c5;
    background-color: #E1EBEE;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    height: 480px;
    margin-top: 20px;
}

.card-display-MAP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.2%;
    padding: 15px;
    /* border: 3px solid #0071c5;
    background-color: #E1EBEE; */
    color: #fff;
    /* border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); */
    padding: 5px;
    height: 480px;
    margin-top: 50px;
    position: relative;
}

/* .card-display-MAP-d {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    width: 98%;
    padding: 15px;
    color: #fff;
    padding: 5px;
    height: 150px;
}

.card-display-MAP-data {
    width: 180px;
    padding: 5px;
    border: 3px solid #0071c5;
    background-color: #E1EBEE;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    height: 40px;
    color: #333;
} */



/* .sticky {
    position: fixed;
    top: 0;
    width: 50%;
} */

#myMap {
    height: 450px;
    width: 865px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #0071c5;
    margin-left: 20px;
}

#model {
    margin-top: 40px;
    /* margin-left: 220px; */
    border: #0071c5 solid 3px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 400px;
}

#GRAPH3D {
    margin-top: 40px;
    margin-left: 350px;
    border: #0071c5 solid 3px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 400px;
}

th {
    position: sticky;
    top : 0;
    border-top: 0px;
    border: 2px solid #0071c5;
    padding: 5.4px;
    color: #fff;
    background-color: #0071c5;
    font-size: 1rem;
    text-align: center;
}

td {
    border: 2px solid #0071c5;
    padding: 5.4px;
    color: #333;
    background-color: #E1EBEE;
    font-size: 1rem;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}