table, th, td{
    border: 1px solid rgb(81, 85, 87);
    font-size: 13px;
  }

td{
    text-align: center;
    padding: 2px;
    color:white;
}

table{
    border-collapse: collapse;
    /* margin-left:20px; */
    margin-top:12px;
}

th{
    padding: 8px;
    background-color:  rgb(123, 189, 222, 1);
    color:black;
    word-wrap: normal;
    position: sticky;
    top : 0;
    border-top: 0px;
}

td, th{
    border: 1px solid rgb(41, 41, 41);
    padding: 8px;
}

tr{
    background-color: rgb(66, 66, 77);}

tr:hover{
    background-color: rgb(117, 117, 128);
}

#con, #pl {
    margin: 0px !important;
    border-top: 0px !important;
}

.grow { 
    transition: all .3s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.05); 
}