.header {
  /* width: 970px; */
  width: 71%;
}

.title {
  font-size: 53px;
  margin-top: 10px;
  /* margin-left:350px; */
  width: 27%;
}

.icons {
  /* color: rgb(209, 235, 229); */
  color: rgb(123, 189, 222, 1);
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}

.icon-glow:hover {
  /* background-color: rgb(123, 189, 222, 1); */
  box-shadow: rgb(137 158 169) 0px 0px 20px;
  border-radius: 50%;
}

/* Stats */
ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Command */
#command {
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  /* color: #fff; */
  /* background-color: rgb(71, 109, 101); */
  color: #000;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: none;
  height: 40px;
  width: 270px;
  margin: 5px 10px 0px 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.13);
}
.chotu {
  border-radius: 2px;
  height: 4px;
  width: 4px;
  background-color: white;
  transform: translate(25px, 16px);
}
/* Toggle */
.switch {
  /* The box around the slider */
  position: relative;
  display: inline-block;
  width: 78px;
  height: 41px;
}

.switch input {
  /* Hide default HTML checkbox */
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid rgb(123, 189, 222);
  /* border:4px solid rgb(4,92,146); */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 2px;
  bottom: 1px;
  background-color: rgb(123, 189, 222);
  /* background-color: rgb(4,92,146); */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /* background:linear-gradient(0deg,#d7e3e9,#152224); */
  /* background:rgba(228, 225, 225, 0.233); */
  /* background:rgb(140, 229, 252); */
  background: rgb(123, 189, 222, 1);
  /* border: 4px solid rgb(115, 189, 170); */
  border: 4px solid rgb(66, 66, 77);
  /* border: 4px solid rgb(0,0,0); */
  /* box-shadow: rgba(141, 135, 135, 0.815) 0px 3px 15px; */
  box-shadow: rgba(137, 158, 169) 0px 0px 10px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36.5px);
  -ms-transform: translateX(36.5px);
  transform: translateX(36.5px);
  /* background-color: rgb(92, 167, 148); */
  background-color: rgb(66, 66, 77);

  /* background-color: rgba(0, 0, 0); */
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-box {
  margin-left: 20px;
  margin-right: 20px;
}
