  .size {
    font-size: 18px;
  }
  
  .states-heading {
    /* margin-bottom: 20px; */
    font-weight: 800;
    font-size: 1.8rem;
}

.ss-arrow {
  width: 220px;
  margin: auto;
}

.card-s {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 198px; */
    height: 65px;
    border: 3px solid #008080;
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #E1EBEE;
    color: #334155;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2em;
}

.currentSS{
    border-style: 3px solid #008080;
    background-color: #008080;
    color: #f1f5f9;
}

.prevSS{
    border-style: 1px solid #0080804a;
    background-color: #0080804a;
    color: #334155;
}

.transparent {
    background-color: #E1EBEE;
}

#SS {
    /* width: 460px !important; */
    height: 420px;
    font-size: 18px;
    color: #d9d9d9;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: normal;
    transform: translate(5px);
}
  
  .m-nl {
    margin: 1rem 1rem 1rem 0rem;
  }
  
  .center-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .arrow {
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding: 10px 0px;
  }
  
  .icon {
    cursor: pointer;
  }
  
  .space {
    padding: 0px 10px 0px 10px;
  }
  
  .circle {
    padding: 2px;
    border-radius: 200px;
    background-color: rgb(66, 66, 77);
    border: 2px solid #333;
  }
  
  .circle:hover {
    background-color: rgb(123, 189, 222);
    border: 2px solid white;
    box-shadow: rgb(123, 189, 222) 0px 0px 10px;
  }
  
  .size {
    font-size: 18px;
  }
  
  .state-border {
    border: 2px solid white;
    padding: 15px 5px;
    margin: 5px 10px 5px 10px;
  }
  
  /* .ss_arrow {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.75rem 0 0 0;
  } */
  
  .start {
    /* background-color: rgb(50, 186, 140); */
    /* background-color: rgb(62,149,205); */
    background-color: rgba(60, 145, 187, 1);
    /* box-shadow: rgb(137 158 169) 0px 0px 20px; */
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
  }
  
  /* .transition {
    width: 195px !important;
  } */
  
  .open {
    display: block !important;
  }
  
  .close {
    display: none !important;
  }
  
  
  #transition-ss {
    display: flex;
    justify-content: center;
    align-items: center;
  }