#SS {
  /* width: 460px !important; */
  height: 420px;
  font-size: 18px;
  color: #d9d9d9;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-weight: normal;
  transform: translate(5px);
}

.m-nl {
  margin: 1rem 1rem 1rem 0rem;
}

.center-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-ss-arrow {
  display: flex;
  justify-content: center;
  /* gap: 0.75rem; */
}

.icon {
  /* padding: 0px 10px 0px 10px; */
  /* transform: rotate(180deg); */
  cursor: pointer;
}

.space {
  padding: 0px 10px 0px 10px;
}

.circle {
  padding: 2px;
  border-radius: 200px;
  background-color: rgb(66, 66, 77);
  border: 2px solid white;
}

.circle:hover {
  background-color: rgb(123, 189, 222);
  border: 2px solid white;
  box-shadow: rgb(123, 189, 222) 0px 0px 10px;
}

.size {
  font-size: 18px;
}

.state-border {
  border: 2px solid white;
  padding: 15px 5px;
  margin: 5px 10px 5px 10px;
  /* border-radius: 20px; */
  /* box-shadow: 0 3px 10px rgba(255,255,255,0.3); */
}

.arrow {
  margin: 0.75rem 0 0 0;
}

.start {
  /* background-color: rgb(50, 186, 140); */
  /* background-color: rgb(62,149,205); */
  background-color: rgba(60, 145, 187, 1);
  /* box-shadow: rgb(137 158 169) 0px 0px 20px; */
  box-shadow: 0 0px 20px rgba(255,255,255,0.4);
}

.transition {
  width: 195px !important;
}

.tp-transition {
  width: 180px !important;
}

.tp-ss-width {
  width: 187px !important;
  transform: translate(5px);
}

.open {
  display: block;
}

.close {
  display: none;
}
