* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Calibri';
    color: #333;
    line-height: 1.6;
    background-color: #E1EBEE;
    /* background-image: linear-gradient(135deg, #87cefa, #00bfff, #00008b); */
    font-weight: 200;
    /* max-width: 1536px; */
    position: relative;
}

button {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: none;
    color: #525150;
    /* find some good color for buttons */
    background-color: #E1EBEE;
    font-size: 115%;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    /* box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25); */
}

button:active{
    color: #008080;
    transform: scale(1.3);
}

input:checked+.button {
    background-color: #008080;
    color: #008080;}
/* .button:after {
    color: #008080;
    transform: scale(1.2);
} */


.example {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 110%;
    height: 45%;
    margin-bottom: 10px;
}

.example input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 3px solid #008080;
    font-style: italic;
    float: left;
    height: 70%;
    width: 65%;
    background: #E1EBEE;
    border-radius: 10px;
    font-family: Trebuchet MS;
}

.example button {
    /* float: right; */
    width: 12%;
    padding: 0px 1px;
    background: #525150;
    height: 5%;
    color: #E1EBEE;
    border: 1px solid #525150;
    border-left: none;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.1s ease-in-out;
    font-family: Trebuchet MS;
    font-size: 35px;
    /* text-align: center; */
    margin-left: 1%;
}

.example button:hover {
    background: #008080;
}

.example button:active {
    transform: scale(1.025);
}

.example::after {
    content: "";
    clear: both;
    /* display: table; */
}

/* form {
    display: flex;   
    justify-content: center;
    align-items: center; 
} */

/* input {
    margin: 0px 0px;
    width: 270px;
    height: 37px;
    border-radius: 10px;
    border-bottom: 3px solid #008080;
    background-color: #E1EBEE;
} */

/* #btn4 {
    font-size: 2rem;
    cursor: pointer;
    color: #0071c5;
    margin-right: 10px;
    height: 30px;
    width: 30px;
} */

/* #btn4:hover {
    transform: scale(1.1);
} */

.flexbox-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
    background-color: #E1EBEE;
    border-bottom: 3px solid #008080;
}

#logo {
    width: 13%;
    height: 2%;
    /* border: 3px solid #008080;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); */
    margin: 10px 0px;
    margin-left: 25px;
}

#heading {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 80px; */
    width: 65%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 4rem;
    font-weight: 600;
    height: 70px;
    margin-top: 10px;
    letter-spacing: 7px;
    
}

.ID {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin: 0px 20px;
    height: 80px;
}

.Item-1 {
    display: flex;
    justify-content:center;
    width: 30%;
    border: 3px solid #525150;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px;
    font-size: 1.4rem;
    background-color: #525150;
    color: #E1EBEE;
    
}

.Item-2 {
    display: flex;
    justify-content: center;
    width: 25%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
    
}

.icons {
    font-size: 2.5rem;
    width: 25%;
    display: flex;
    /* padding: 10px; */
    margin: 25px;
    justify-content: space-between;
    align-items: center;

}

#flag {
    width: 15%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 10px 0px;
    margin-right: 25px;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexbox-data {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin: 16px 2px;
    margin-left: 15px;
    /* padding: 15px; */
    width: 100%;
    height: auto;
}

.d1 {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 40%;
    /* border: 1px solid #008080;
    border-radius: 10px; */
}

.d2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40%;
    margin-top: 10px;
    /* border: 1px solid #008080;
    border-radius: 10px; */
}

.d3 {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 40%;
    margin-top: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 230px;
    /* height: 200%; */
    height: 70px;
    border: 3px solid #008080;
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #008080;
    color: #E1EBEE;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3em;
    padding: 0px 2px;
    margin: 0px 5px;
}
.flex-3 {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    /* align-items: center; */
    justify-content: center;
    margin-top: 0px;
}

.flexbox-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 170px;
    width: 21%;
    /* border: 3px solid #008080;
    border-radius: 15px; */
    margin-right: 25px;
}

.c1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 45%;
    /* border: 3px solid #008080;
    border-radius: 10px; */
}

.c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    border: 3px solid #008080;
    border-radius: 10px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    /* background-color: #008080; */
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3em;
    margin-right: 5px;
    /* padding: 3px 0px; */
}

.tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0px;
    cursor: pointer;
    list-style-type: none;
    margin-left: 15px;


}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #525150;
    color: white;
    width: 160px;
    height: 55px;
    background-color: #525150;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    margin: 5px 0px;
}

.tab.active {
    background: #00808015;
    border: 3px solid #525150;
    transform: scale(1.1);
    color: black;
}

.tab:hover {
    transform: scale(1.14);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10px; */
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 38px;
    margin: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 128, 128, 0.29);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    background-color: #e2e8f0;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #008080;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    box-shadow: 1px 1px 1px #008080;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

input:focus+.slider {
    box-shadow: 1px 1px 1px #008080;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

input:checked+.slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
    
}

/* Rounded sliders */
.slider.round {
    border-radius: 37px;
    width: 70px;
}

.slider.round:before {
    border-radius: 50%;

}


.tab-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    margin-left: 0px;
    /* padding: 15px; */
    /* border: 3px solid #008080;
    border-radius: 15px; */
    width: 100%;
    height: 1000px;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

/* .display-map {
    height: 500px;
    width: 1478px;
} */

.display-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 1000px;
    width: 1570px;
    /* border: 3px solid #008080;
    border-radius: 15px; */
}

.part-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 80%;
    padding: 0px;
    /* border: 3px solid #008080;
    border-radius: 15px; */
    margin-left: 35px;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
}

.row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
}

.row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
}



/* .part-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin: 0px 40px;
    border: 3px solid #008080;
    border-radius: 15px;
} */

.part-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 19%;
    font-size: 1.5rem;
}

.states-heading {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 1.8rem;
}

.card-s {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 198px;
    height: 65px;
    border: 3px solid #008080;
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #E1EBEE;
    color: #334155;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2em;
}

.fa-arrow-down-long {
    display: flex;
    justify-content: center;
    margin: 4px;
}

.currentSS{
    border-style: 3px solid #008080;
    background-color: #008080;
    color: #f1f5f9;
}

.prevSS{
    border-style: 1px solid #0080804a;
    background-color: #0080804a;
    color: #334155;
}

/* .open {
    display: block;
}

.close {
    display: none;  
} */

/* .card-s:hover {
    color: #E1EBEE;
    background-color: #008080;
    border: 3px solid #008080;
    transform: scale(1.1);
} */

/* #launch {
    background-color: #0080804a;
    border: 1px solid #0080804a;
}  */

/* .card-s:visited {
    color: #0071c5;
} */

.display-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    border-radius: 15px;
    border: 3px solid #008080;
    margin: 20px;
}

.display-3D{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 1000px;
    width: 1570px;
    /* border: 3px solid #008080;
    border-radius: 15px; */
    padding: 5px;
    margin-left: 25px;
    padding-right: 25px;
}

#mygraph7 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    width: 590px;
    border-radius: 15px;
    border: 3px solid #008080;
    margin-top: 30px;
}

#myMap {
    height: 500px;
    width: 590px;
    border-radius: 15px;
    border: 3px solid #008080;
    margin-top: 30px;
}

.display-csv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 1000px;
    width: 1570px;
    padding: 5px;
    margin-left: 10px;}

th {
    position: sticky;
    top: 0;
    border-top: 0px;
    border: 1px solid #008080c4;
    padding: 5.4px;
    color: #fff;
    background-color: #008080;
    font-size: 1rem;
    text-align: center;
}

td {
    border: 1px solid #008080c4;
    padding: 5.4px;
    color: #333;
    background-color: #E1EBEE;
    font-size: 1rem;
    text-align: center;
}

/* tr:nth-child(even) {
    background-color: #66cdaa;
} */

table {
    border-collapse: collapse;
    width: 100%;
}

.display-coordinates {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 1000px;
    width: 1570px;
    /* border: 3px solid #008080;
    border-radius: 15px; */
    padding: 5px;
    margin-left: 25px;
    padding-right: 25px;
}

select {
    width: 100px;
    background-color: #525150e5;
    color: #E1EBEE;
    font-size: 1.4rem;
    font-weight: 600;
    /* border: 0 #525150e5; */
    border-radius: 15px;
    margin-left: 5px;
    padding: 2px 2px;
    border: 0.5px solid #7b7b7a;
}

.flex-cards-text {
    display: flex;
    flex-direction: row;
}

option {
    background-color: #525150e5;    
    color: #E1EBEE;
    font-size: 1.4rem;
    font-weight: 600;
    /* border: 3px solid #E1EBEE; */
}
.card-drop{
    border: 0px solid #525150e5;
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgb(0 0 0 / 20%);
    background-color: #525150e5;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2px;
    line-height: 1.2em;
    width: 90%;
    height: 45px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;}